@import url("//cdn.jsdelivr.net/gh/wan2land/d2coding/d2coding-full.css");

:root {
  --background: #282b36;
  --font: #ebebeb;
}
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  min-width: 100%;
  background-color: var(--background);
  color: var(--font);
  font-family: "D2Coding", monospace !important;
}
#container {
  /* height: 100%; */
  font-size: 20px;
  font-weight: 400;
  /* font-family: "Fira Code", monospace, Raleway, "san-serif"; */
}
pre {
  font-size: 25px;
  background: linear-gradient(to right top, #4d36ff, #00e78b);
  color: transparent;
  -webkit-background-clip: text;
}
.presentation {
  /* text-align: center; */
  margin: 0 auto;
  width: 100%;
}
#line {
  display: flex;
  position: relative;
  color: #59f78e;
  font-size: 125%;
}
input {
  border: none;
  overflow: auto;
  outline: none;
  resize: none;
  background-color: transparent;
  color: inherit;
  font: inherit;
  margin: 0;
  margin-left: 8px;
  height: 24px;
  color: var(--font);
}
input:focus {
  caret-color: transparent;
  /* caret-shape: block; */
}
@keyframes blinkAnimation {
  50% {
    opacity: 0;
  }
}
.blink::before {
  content: "";
  position: absolute;
  margin-left: 8px;
  top: 3px;
  height: 23px;
  width: 12px;
  background-color: #cecece;
  opacity: 1;
  z-index: 5;
  animation: blinkAnimation 1s linear infinite;
}
.prompt {
  display: flex;
  position: relative;
  font-weight: 600;
  font-size: 125%;
}
.green {
  color: #59f78e;
}
.purple {
  color: #caa9fb;
}
a {
  outline: none;
  color: #9aedfe;
  text-decoration: none;
}
a:hover {
  background-color: #4d36ff;
  color: #9aedfe;
}
